<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="My Sample Suite">

<test name="Test1">
    <classes>
        <class name="annotations.annot" ></class>  
            </classes>
</test>

<test name="Test2">
    <classes>
        <class name="annotations.AssetionsExample" ></class>  
     </classes>
</test>



</suite>
